/*CSS Styling Code Here*/

#headerLogo {
    border: 3px solid black;
    border-radius: 50%;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#headerLinks {
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
}

.hLinks {
    text-decoration: none;
    color: rgb(34, 34, 34);
}

.parallaxPic {
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxPic {
    background-image: url("./pics/Derek Desk.jpg");
    min-height: 350px;
}

.caption {
    position: absolute;
    left: 0;
    top: 62%;
    width: 100%;
    letter-spacing: 2px;
}

.caption span.title {
    color: rgb(255, 255, 255);
    padding: 15px;
    font-size: 60px;
    font-family: 'Overpass', sans-serif;
    text-align: left;
    margin-left: 150px;
    text-shadow: 6px 5px 4px rgb(24, 24, 24);
}

.caption span.sub-title {
    color: rgb(255, 255, 255);
    padding: 15px;
    font-size: 25px;
    font-family: 'Overpass', sans-serif;
    text-align: left;
    margin-left: 150px;
    text-shadow: 6px 5px 4px rgb(24, 24, 24);
}

#quotePic {
    float: left;
    height: 400px;
    overflow: auto;
}

#quote {
    margin: 25px 10px 25px 10px;
}

#quoteText {
    font-size: 32px;
    background-color: rgb(172, 242, 255);
    padding: 100px 100px 175px 675px;
    font-family: 'Didact Gothic', sans-serif;
    text-shadow: 5px 5px 10px rgb(75, 75, 75);
}

#video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

iframe {
    width: 75%;
    height: 75%;
    position: absolute;
    top: 10%;
    left: 15%;
}

#footer {
    text-align: center;
}

#footerText {
    text-decoration: none;
    font-family: 'Overpass', sans-serif;
    color: black;
}

@media screen and (min-width: 1800px) {    
    .parallaxPic {
        min-height: 450px;
    }

    .caption {
        top: 50%;
    }

    #quotePic {
        float: left;
        height: 600px;
        overflow: auto;
    }

    #quoteText {
        padding: 150px 100px 320px 1000px;
    }
}

@media screen and (max-width: 1000px) {    
    .parallaxPic {
        min-height: 450px;
        position: fixed;
    }

    .caption {
        top: 50%;
        text-align: center;
    }

    .caption span.title {
        padding: 10px;
        margin-left: 5px;
    }
    
    .caption span.sub-title {
        padding: 15px;
        margin-left: 10px;
    }

    #quotePic {
        float: left;
        width: 100%;
        overflow: auto;
    }

    #quoteText {
        padding: 350px 100px 100px 100px;
    }
}